<!doctype html>
<html>
    <head>
        <title>Mead</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="Meadowlark Travel logo">
        </header>
        {{{body}}}
    </body>
</html>